:root {

    --workspace-gap-xs: 8px;
    --workspace-gap-sm: 16px;
    --workspace-gap-md: 24px;
    --workspace-gap-lg: 32px;

    --workspace-sidebar-width: 400px;

    --workspace-radius: 20px;

}