:root {
  /* Typography */
  --font-primary: "Inter", sans-serif;

  --text-sm: 12px;
  --text-md: 14px;
  --text-lg: 18px;

  /* Colors */
  --color-primary: #4a0f0f;
  --color-text: #222;
  --color-muted: #777;

  /* Spacing */
  --space-xs: 4px;
  --space-sm: 8px;
  --space-md: 12px;
  --space-lg: 20px;

  /* Radius */
  --radius-sm: 6px;
  --radius-md: 10px;
}