.workspace-header {

    display: flex;

    justify-content: space-between;
    flex-direction: column;

    gap: 8px;

    padding-bottom: 8px;

}

.workspace-header-text {

    display: flex;

    flex-direction: column;

    gap: 12px;

}

.workspace-header h1 {

    margin: 0;

    font-size: 3rem;
    line-height: 1;
    font-weight: 700;

    color: #162033;

}

.workspace-header-top {

    display: flex;

    justify-content: space-between;

    align-items: flex-start;

    gap: 32px;

}

.workspace-header p {

    margin: 0;

    font-size: 1.1rem;

    color: #23334d;

}

.workspace-close {

    width: 42px;
    height: 42px;

    border: none;
    background: transparent;

    border-radius: 50%;

    font-size: 32px;

    color: #94a3b8;

    cursor: pointer;

    transition: .2s;

}

.workspace-close:hover {

    background: #f3f4f6;

    color: #9b111e;

}