/* =========================================================
   COMMUNITY ONE PLATFORM FRAMEWORK (CPF)

   Workspace Main
   ========================================================= */


/* =========================================================
   WORKSPACE MAIN
   ========================================================= */

.workspace-main {

    display: grid;

    grid-template-columns:
        minmax(0, 1fr)
        360px;

    gap: 40px;

    width: 100%;
    min-width: 0;
    min-height: 0;

    box-sizing: border-box;

    align-items: start;

}