/* =========================================
   WORKSPACE BODY
========================================= */

.workspace-body {

    display: block;

    width: 100%;
    min-width: 0;

    margin: 0;
    padding: 0;

    box-sizing: border-box;

    position: relative;

}