/* =========================================
   WORKSPACE MAIN
========================================= */

.workspace-main {

    display: grid;

    grid-template-columns:
        minmax(0, 1fr)
        360px;

    gap: 40px;

    width: 100%;
    min-width: 0;

    box-sizing: border-box;

}