/* =========================================
   WORKSPACE CONTENT
========================================= */

.workspace-content {

    grid-area: content;

    min-width: 0;

    width: 100%;

}


/* =========================================
   NAVIGATION
========================================= */

