.workspace-toolbar {

    display: grid;

    grid-template-columns:
        minmax(320px, 1.5fr)
        minmax(280px, 1fr)
        minmax(300px, 1.2fr);

    column-gap: 48px;

    align-items: start;

}