/* =========================================
   WORKSPACE CONTENT
========================================= */

.workspace-content {

    grid-area: content;

    min-width: 0;

    width: 100%;

}


/* =========================================
   NAVIGATION
========================================= */

.workspace-navigation {

    flex: 0 0 auto;

    width: 100%;

}


/* =========================================
   WORKSPACE BODY
========================================= */

.workspace-body {

    display: block;

    width: 100%;

    min-width: 0;

    margin: 0;

    padding: 32px 0 0;

    box-sizing: border-box;

}