/* =========================================
   WORKSPACE FORM
========================================= */

.workspace-form {
    box-sizing: border-box;

    display: flex;
    flex-direction: column;

    width: min(100%, 720px);

    margin: 0 auto;
    padding: 0;

    gap: 32px;
}


/* =========================================
   WORKSPACE CONTENT
========================================= */

.workspace-content {
    display: flex;
    flex-direction: column;

    min-height: 560px;
}