.workspace-form {

    display: flex;
    flex: 1;
    flex-direction: column;

    gap: 28px;

    width: 100%;

}

.workspace-content {

    display: flex;
    flex-direction: column;

    min-height: 560px;

}